body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.navbar-nav {

    .nav-item {

        i {
            display: none;
        }
    }
}

#table-auditoria {

    th {
        text-align: center;
        vertical-align: middle;

        &.bd {
            border: #eef2f7 1px solid;
        }
    }

}

body[data-layout-color=dark] #table-auditoria th.bd {
    border-color: #464f5b;
}

.group-name {
    color: #ffbc00;
}

